PORT=5000
MONGO_URI=your_mongodb_connection_string_here
JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000
RESEND_TOKEN=your_resend_token_here
SMTP_USER=your_smtp_email_here
SMTP_PASS=your_smtp_password_here
MAIL_SERVICE_URL=http://localhost:5001
MAIL_API_KEY=your_mail_api_key_here
UPSTASH_REDIS_REST_URL=your_upstash_redis_url_here
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_token_here
